extends layout

block content
  h1= title
  if show
    form(method="post")
      p Jaka jest Twoja ulubiona pora roku?
      ul
        each item in data
          li
            label=item.title
            input(type='radio' name='quiz' value=item._id)
      input(type='submit' value='Zagłosuj')
      p Aby zobaczyc wyniki oddaj głos
  else
    h1 dokonales juz glosu w ankiecie!
    p wyniki
    ul
      each item in data
        li #{item.title} głosów #{item.vote} [#{Math.round(item.vote/sum*100)}%]

    p Głosy oddane : #{sum}
